.board {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
    
    .Grid{
        border: solid 1px red;
        display:grid;
        gap: 10px;
        grid-template-columns: repeat(5, 1fr);
    }
}