// @import "variables";

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.8px rgb(59, 59, 59);
    
    .Header{
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1px; 
        padding: 2px 5px;
    }

    .Rightnav{
        .Helpmenu{
            padding: 0 10px;
        }
    }

    .Rightnav{
        .Helpmenu{
            padding: 0 10px;
        }
    }
}