@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;900&display=swap");

$primary: #fff;
$background: #121213;
$normalkey: #818384;
$bordercolor: #3a3a3c;
$present: #b59f3b;
$correct: #538d4e;
$absent: #3a3a3c;
$title: #ffffff;

$small: 550px;
$medium: 900px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #121213;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 25px;
}

body {
    height: 100%;
    width: 100%;
}


// hr {
//     border : 1px solid $bordercolor;
// }

/* 

  navbar 

  */
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.8px rgb(59, 59, 59);

    .Header {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 2px 5px;
    }

    .Rightnav {
        .Helpmenu {
            padding: 0 10px;
        }
    }

    .Rightnav {
        .Helpmenu {
            padding: 0 10px;
        }
    }
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;

    .Grid {
        margin-top: 5vh;

        display: grid;
        gap: 5px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, auto);

    }
}

.box {
    height: 7vh;
    width: 7vh;
    font-size: 3vh;
    line-height: 6vh;
    text-align: center;
    border: solid 2px rgb(58, 58, 58);
    // box-shadow:inset 0 0 0 1px rgb(68, 68, 68);
}

  


.box[filled="1"] {
    border: solid 2px rgb(92, 92, 92);
}

.box[bounce="1"] {
    border: solid 2px rgb(92, 92, 92);
    animation: bounce 100ms ease-in;
}

.box[flip="1"] {
    border: solid 2px rgb(92, 92, 92);
    animation: flip 400ms ease-in;
}

// .bounce{
//     animation: bounce 100ms ease-in;
// }

@keyframes flip{
    0%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.Green {
    background-color: $correct;
}

.Yellow {
    background-color: $present;
}

.Grey {
    background-color: $absent;
}

.normal {
    background-color: $normalkey;
    border: solid 1px grey;
}

.keyboard {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);

    margin: 0 auto;
    .keyboard-row {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .key {
            width: 40px;
            height: 60px;
            margin: 4px;
            
            border-radius: 6px;
            
            cursor: pointer;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;

            text-align: center;
            vertical-align: middle;
            line-height: 60px;

            .DeleteIcon{
                margin-top: 14px;
                height: 30px;
                background-color: grey;
            }
        }
        .key[value="ENTER"]{
            width: 70px;
        }
        .key[value="DELETE"]{
            width: 60px;
        }
        @media screen and (max-width: $small) {
            .key{
                height: 55px;
                line-height: 55px;

                width: 7.8vw;
                margin: 0.8vw;

                .DeleteIcon{
                    margin: 12px;
                    height: 27px;
                    width: 8vw;
                }
            }
            .key[value="ENTER"]{
                width: 13vw;
            }
            .key[value="DELETE"]{
                width: 15vw;
            }
        }
    }
}


.modal-bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background:rgba(18, 18, 19, 0.95);

    display: flex;
    justify-content: center;
    align-items: center;

    .modal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: min(400px, 70vw);
        height: min(500px, 70vh);

    }

    

    
}

.modal-bg-htp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:rgba(18, 18, 19, 0.95);

    

    .tutorial {
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        width: min(500px,100vw);
        margin: 0 auto;
        .heading {
            display: flex;
            justify-content: space-between;
        }



        .htp-heading {
            position: relative;
            justify-self: center;
            text-align: center;
            font-size: 22px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin : 10px;
            font-weight: bold;

            .cross {
                position: absolute;
                padding: 2px;
                right: 0;
            }
        }

        .examples {
            border-top: 1px solid $bordercolor;
            border-bottom: 1px solid $bordercolor;
        }

        p {
            font-size: 16px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin : 10px;
        }
        h2 {
            font-size: 18px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin : 10px;
        }
        .example {
            margin-left: 10px;
            display: flex;
            gap: 12px;
        }
    }
}