@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #121213;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

body{
    height: 100%;
    width: 100%;
}