@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;900&display=swap");

$primary: #fff;
$background: #121213;
$normalkey: #818384;
$bordercolor: #3a3a3c;
$present: #b59f3b;
$correct: #538d4e;
$absent: #3a3a3c;
$title: #ffffff;

$small: 550px;
$medium: 900px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #121213;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 25px;
}

body {
    height: 100%;
    width: 100%;
}

/* 

  navbar 

  */
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.8px rgb(59, 59, 59);

    .Header {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 2px 5px;
    }

    .Rightnav {
        .Helpmenu {
            padding: 0 10px;
        }
    }

    .Rightnav {
        .Helpmenu {
            padding: 0 10px;
        }
    }
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;

    .Grid {
        margin-top: 5vh;

        display: grid;
        gap: 5px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, auto);

        .box {
            height: 7vh;
            width: 7vh;
            font-size: 3vh;
            line-height: 6vh;
            text-align: center;
            border: solid 2px rgb(58, 58, 58);
            // box-shadow:inset 0 0 0 1px rgb(68, 68, 68);
        }

        .Green {
            background-color: $correct;
        }

        .Yellow {
            background-color: $present;
        }

        .Grey {
            background-color: $absent;
        }

        .box[filled="1"] {
            border: solid 2px rgb(92, 92, 92);
        }
    }
}

.keyboard {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);

    margin: 0 auto;
    .keyboard-row {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .key {
            width: 40px;
            height: 60px;
            margin: 4px;
            
            border-radius: 6px;
            border: solid 1px grey;
            background-color: $normalkey;
            cursor: pointer;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;

            text-align: center;
            vertical-align: middle;
            line-height: 60px;

            .DeleteIcon{
                margin-top: 14px;
                height: 30px;
                background-color: grey;
            }
        }
        .key[value="ENTER"]{
            width: 70px;
        }
        .key[value="DELETE"]{
            width: 60px;
        }
        @media screen and (max-width: $small) {
            .key{
                height: 55px;
                line-height: 55px;

                width: 7.8vw;
                margin: 0.8vw;

                .DeleteIcon{
                    margin: 12px;
                    height: 27px;
                    width: 8vw;
                }
            }
            .key[value="ENTER"]{
                width: 13vw;
            }
            .key[value="DELETE"]{
                width: 15vw;
            }
        }
    }
}
